*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 300px;
    height: 30px;
    text-align: center;
    padding: 20px;
}
.table{
    margin-left: 15px;
}

#botao{
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
  }